

<div>
<table class="pure-table" id="table-x" border="10">
  <thead>
    <tr>
      <th> CHANNEL</th>

    </tr>
  </thead>

  <tbody>

  	<% @channels.each do |channel| %>

	  <tr>
        <td id="channel_img">
 			<h2> <%= channel.name %> </h2>
      	</td>
	 

	<% channel.programs.each do |program| %>     

        <td>  
        	<%= image_tag picture_for_program(program), class: 'program_logos' %> 
        </td>
    <% end %>
    	
	   </tr>
    
    <% end %>

  </tbody>
</table> 
</div>


