<% @channels.each do |channel| %>

	<% if channel.programs.present? %>
		<h2> <%= channel.name %> </h2>
	
		<% channel.programs.each do |program| %>
			<div class='channel_list'>

			<h3 class='programs_list'> 
				<%= image_tag picture_for_program(program), class: 'program_logos' %>
			</h3>

			</div>
		<% end %>
	<% end %>
<% end %>