// Place all the styles related to the channels controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.channel_table{
	width: 30%;
	position: relative;
	top: 0px;
	left: 450px;

}

.episode_table{
	width: 50%;
	position: relative;
	top: 0px;
	left: 300px;

}


