// Place all the styles related to the channels controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

td img{
	width: 100%;
}

th{
	text-align: center;
	vertical-align: middle;
}

.channel_header img{
	vertical-align: middle;
	// position: relative;
	// left: 80px;
	width: 60%;


}

.pure-table{
	width: 32%;
	position: relative;
	top: 0px;
	left: 100px;

}



#final_table{
	width: 85%;
	// position: relative;
	// // left: 100px;
	// left: 10px;
}

// .table{
// 	width: 100%;
// 	margin: 0 auto;
// }

#user-form{
	width: 30%;
	position: relative;
	left: 430px;
}

.pure-form-aligned{
	position: relative;
	top: 0px;
	left: 500px;
	width: 400px;

}

#table-long{
	width: 44%;
	left: 360px;
}


#table-xl{
	width: 50%;
	left: 340px;
}

#table-x{
	width: 50%;
	left: 12px;
}

#body{
	// background-color: #C4DAED;
	// background-color: rgba(41, 0, 37, 1);
	// background-color: rgba(234, 234, 234, 1);
}

#head_bar{
	// background-color: #C7B6DA;
	// background-color: #CBCBCB;
	background-color: rgba(243, 243, 243, 1);
}


