// Place all the styles related to the channels controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
        

// .pure-button.button-success,
// .pure-button.button-error,
// .pure-button.button-warning,
// .pure-button.button-secondary {
// 	color: white;
// 	border-radius: 4px;
// 	text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
// }

// .pure-button.button-success {
// 	background: rgb(28, 184, 65); this is a green
// }

// .pure-button.button-error {
// 	background: rgb(202, 60, 60); /* this is a maroon */
// }

// .pure-button.button-warning {
// 	background: rgb(223, 117, 20); /* this is an orange */
// }

// .pure-button.button-secondary {
// 	background: rgb(66, 184, 221); /* this is a light blue */
// }



button.pure-button.button-dark{
	background-color: #000;
	// color: #DEB2B2;
	// color: #A4A4A4;
	color: #E6E6E6;
}

.pure-button.toggleButton{
	color: rgba(90, 68, 68, 0.8);
}



.invis{
	visibility: hidden;
}

#buttons_selectors{
	text-align: center;
	width: 100%;
}


td img{
	width: 100%;
}

th{
	text-align: center;
	vertical-align: middle;
}

.channel_header img{
	vertical-align: middle;
	// position: relative;
	// left: 80px;
	width: 60%;


}

.pure-table{
	width: 32%;
	position: relative;
	top: 0px;
	left: 100px;

}



#final_table{
	width: 85%;
	// position: relative;
	// // left: 100px;
	// left: 10px;
}

.table{
	width: 100%;
	margin: 0 auto;
	position: relative;
	left: 340px;
}

#user-form{
	width: 30%;
	position: relative;
	left: 430px;
}

.pure-form-aligned{
	position: relative;
	top: 0px;
	left: 500px;
	width: 400px;

}

#table-long{
	width: 44%;
	left: 360px;
}



#table-x{
	width: 100%;
	left: 8px;
}

#body{
	// background-color: #C4DAED;
	// background-color: rgba(41, 0, 37, 1);
	// background-color: rgba(234, 234, 234, 1);
}

#head_bar{
	// background-color: #C7B6DA;
	// background-color: #CBCBCB;
	background-color: rgba(243, 243, 243, 1);
}

#buttons_edit{
	text-align: center;
}


