// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.admin_controls{
	margin-right: 400px;
}

#username_header{
	// font-weight: bold;
	background-color: #EDE3E3;
	-moz-border-radius: 12px;
	-webkit-border-radius: 12px;
	border-radius: 12px;
}