


<table class="channel_table">
  <thead>
    <tr>
      <th> CHANNEL </th>
      <th> ACTIONS</th>
    </tr>
  </thead>

  <tbody>
     <%= content_tag_for :tr, @channels do |channel| %>
        <td><%= channel.name %></td>

     <% end %>
  </tbody>
</table> 